
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    List<DoAn_CNPM.Models.Album> listAbum = ViewBag.album;
    List<DoAn_CNPM.Models.Song> listSong = ViewBag.listSong;
    List<DoAn_CNPM.Models.Artist> listArtist = ViewBag.artist;
    List<DoAn_CNPM.Models.Song> listRank = ViewBag.rank;
    
}
<link rel="stylesheet" href="/Assets/css/TrangChuCSS.css" />
<script src="~/Assets/js/TrangChuJS.js"></script>
<!--body Trang chủ-->
<div class="col-lg-10 offset-lg-1" id="body">



        <!-- slide show and recommend singer-->

        <div class="row">
            <div class="col-lg-12 " id="slideShowIndex">
                <a href="@Url.Action("Index","TrangNgheNhac",new { id=6038 })">
                    <img class="mySlideShowIndex hide"
                         src="~/Assets/image/imageSlideShowIndex/1.jpg"
                         alt="" />
                </a>
                <a href="@Url.Action("Index","TrangNgheNhac",new { id=6039 })">
                    <img class="mySlideShowIndex hide"
                         src="~/Assets/image/imageSlideShowIndex/2.jpg "
                         alt="" />
                </a>
                <a href="@Url.Action("Index","TrangNgheNhac",new { id=6040 })">
                    <img class="mySlideShowIndex hide"
                         src="~/Assets/image/imageSlideShowIndex/3.jpg"
                         alt="" />
                </a>
            </div>

        </div>


        <!-- Album, Bài hát nổi bật, bảng xếp hạng  -->
        <div class="row main-body">

            <div class="col-lg-8 row">

                <!-- album -->
                <div class="col-lg-12 albumClass">
                    <!-- label and tab album-->
                    <div class="row">
                        <div class="col-lg-2 labelTab" id="album">
                            <a href="#">Album</a>
                        </div>
                        

                    </div>
                   

                    <!-- list album-->
                    <div class="row listAlbum">
                        <!-- item album-->

                        @if (listAbum != null && listAbum.Count > 0)
                        {
                            foreach (var item in listAbum)
                            {
                                <div class="col-lg-4 itemAlbum">
                                    <a href="@Url.Action("PlayAlbum", "TrangNgheNhac",new { id=item.ID })">
                                        @*<img title="@item.Name" src="~/Assets/image/imageAlbum/@(item.Image)" alt="" />*@
                                        <div class="imgAlbum" style="background:url('/Assets/image/imageAlbum/@(item.Image)')"></div>
                                    </a>
                                    <a href="@Url.Action("PlayAlbum", "TrangNgheNhac",new { id=item.ID })"
                                       class="overflowText"
                                       title="Những Bài Hát Nghe Là Thấy Tết">@item.Name</a>

                                    @{ 
                                        int countAristInAlbum = item.Artists.Count;
                                        
                                    }

                                    <p>
                                        @foreach (var it in item.Artists)
                                        {
                                            if (it != item.Artists.LastOrDefault())
                                            {
                                                <a href="@Url.Action("Index","TrangNgheSi",new { id= it.ID })" title="@it.Name">@it.Name</a>
                                                <span>&#44;</span>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Index","TrangNgheSi",new { id= it.ID })" title="@it.Name">@it.Name</a>
                                                
                                            }
                                        }
                                        
                                       
                                    </p>

                                </div>
                            }
                        }


                        
                        
                    </div>
                </div>



                <!-- Bài hát nổi bật-->
                <div class="col-lg-12 ">
                    <!-- label -->
                    <div class="row">
                        <div class="col-lg-4 labelTab" id="album">
                            <a href="#">Bài hát nổi bật</a>
                        </div>

                    </div>

                    <!-- listItem-->
                    <div class="row listFeaturedSong">

                        @foreach (var item in listSong)
                        {
                            <a href="@Url.Content("/TrangNgheNhac/Index?id="+item.ID)" class="col-lg-6  row itemFeaturedSong">
                                <span class="col-lg-2 imgFeaturedSong">
                                    @*<img src="@Url.Content("~/Assets/image/avartarArtist/" + @item.Artists.First().Image)"/>*@
                                    <div class="imgSong" style="background:url('/Assets/image/avartarArtist/@(item.Artists.First().Image)') "></div>
                                </span>
                                <span class="details col-lg-9   ">
                                    <div class="artistName col-lg-12">
                                        @item.Name
                                    </div>

                                    @{
                                        string str = "";
                                        foreach (var i in item.Artists)
                                        {
                                            str = str + i.Name + ", ";
                                        }
                                        str = str.Substring(0, str.Length - 2);
                                    }
                                    <div class="singerName col-lg-12">
                                        @str
                                    </div>




                                </span>

                            </a>
                                        }






                    </div>

                </div>

                <!-- Nghệ sĩ nổi bật-->
                <div class="col-lg-12 famousArtist">
                    <!-- label -->

                    <div class="col-lg-4 labelTab" id="album">
                        <a href="#">Nghệ sĩ nổi bật</a>
                    </div>
                    <div class="col-lg-12 row artist">
                        @foreach (var item in listArtist)
                        {
                            <a href="@Url.Action("Index","TrangNgheSi",new { id=item.ID })" class="col-lg-3 itemFeaturedArtists" title="@item.Name">
                                @*<img src="@Url.Content("~/Assets/image/avartarArtist/" + @item.Image)">*@
                                <div class="imgArtist" style="background:url('/Assets/image/avartarArtist/@(item.Image)') "></div>
                            </a>
                        }


                    </div>

                </div>
                <!-- listItem-->

            </div>




            <!-- bảng xếp hạng-->
            <div class="col-lg-4 albumClass">
                <div class=" col-lg-12 labelTab">
                    <a href="#">BXH bài hát</a>
                </div>


                @{
                    int tam = 1;
                }
                <div class="col-lg-12 listChart">
                    @foreach (var item in listRank)
                    {
                        <div class="col-lg-13 itemChart row">
                            <span class="rank col-lg-1">
                                @tam
                            </span>
                            <a href="@Url.Content("/TrangNgheNhac/Index?id="+item.ID)" class="col-lg-11 row">
                                <span class="col-lg-2 imgChart">
                                    @*<img src="@Url.Content("~/Assets/image/avartarArtist/" + @item.Artists.FirstOrDefault().Image)"/>*@
                                    <div class="imgSong" style="background:url('/Assets/image/avartarArtist/@(item.Artists.FirstOrDefault().Image)') "></div>
                                </span>
                                <span class="details col-lg-9 offset-lg-1  ">
                                    <div class="artistName col-lg-12">
                                        @item.Name
                                    </div>

                                    @{
                                        string str = "";
                                        foreach (var i in item.Artists)
                                        {
                                            str = str + i.Name + ", ";
                                        }
                                        str = str.Substring(0, str.Length - 2);
                                    }

                                    <div class="singerName col-lg-12">
                                        @str
                                    </div>


                                </span>
                            </a>
                        </div>
                                            tam++;
                                        }



                </div>
            </div>


        </div>



    
</div>
